:root{ --primary-text-color:#2E2F42;
--title-text-color:#434455;
--secondary-text-color:#FFFFFF;
--accent-color: #4D5AE5;
--main-font: "Roboto",sans-serif;}

html{box-sizing: border-box;}

body{
 font-family: var(--main-font);  
 color:var(--primary-text-color);
 font-size: 16px;
 background-color: var(--secondary-text-color);}

 ul,p{margin: 0;}
 a{cursor: pointer;}


.container{width:  1158px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
outline: 3px solid red;}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

/* logo */
.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color:var(--primary-text-color)}
.logo-part{color:var(--accent-color);}
.logo,.logo-part{text-decoration: none;}

/* navigation */
.main {display: flex;
align-items: center;
margin-bottom: 0;}

.list{list-style: none;}

.nav-main{ display: flex;
margin-bottom: 24px;
margin-right: auto;
align-items: center;}

.nav-list{display: flex;
margin-left: 77px;
align-items: center;}
.nav-list .item +.item {margin-left: 40px;}

.nav-link{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color:var(--primary-text-color)}
.nav-link:hover,.nav-link:focus{color: var(--accent-color);}

 /* contacts */
  .contacts{ display: flex;
margin-left: auto;
margin-bottom: 24px;
align-items: center;}
  .contacts .item + .item{ margin-left: 40px;}

  .contact-link{
    line-height:1.5;
    letter-spacing: 0.02em;
    color:var(--title-text-color);
    text-decoration: none;}
  .contact-link:hover,.contact-link:focus{color: var(--accent-color);}

  /* hero*/
.hero{ background-color:var(--primary-text-color);
text-align: center;
}
.hero-title{margin-top: 0;
    margin-bottom:  48px;


    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color:var(--secondary-text-color);}
/* hero-btn */
.button{
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 170px; 
    height: 51px;
    font-family:var(--main-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height:1.18;
    color:var(--secondary-text-color);
    cursor: pointer;}
.button:active{background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;}
.button:hover{background: #4D5AE5;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;}
    
  
/* features */
.features{ display: flex;
}
.features-title{ margin-top: 0;
    margin-bottom: 8px;;

    font-weight: 600;
    font-size: 20px;
    line-height:1.2;
    letter-spacing: 0.02em;}


.features-text{width: 264px;
   
    line-height:1.5;
    letter-spacing: 0.02em;
    color:var(--title-text-color);}


 /* what we are doing */

.work {display: flex;
}
 .work-list .work-img:not(:first-child){ margin-right: 30px;}
 .work-img{display: block;}
/* our team */
.team {background: #F4F4FD;}
.section-title {margin-top: 0;
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height:1.1;
    letter-spacing: 0.02em;}
.team-item {display: flex;}

.team-name{ font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;}
.team-text{ line-height:1.5;
    letter-spacing: 0.02em;
    color:var(--title-text-color);}

    /* footer */
     .footer{ background-color: var(--primary-text-color);}
     .footer a {text-decoration: none;}
    .logo-title {font-family: 'Raleway';
        font-weight: 700;
        font-size: 18px;
        line-height:1.16;
        letter-spacing: 0.03em;
        color:var(--accent-color)}
    .logo-half {font-family:inherit;
        letter-spacing: 0.03em;
        color: #F4F4FD; }
    .footer-text{
        line-height:1.5;
        letter-spacing: 0.02em;
        color: #E7E9FC;}


 /* Styles PORTFOLIO*/

    /* buttons */
   

    .filter{font-family:var(--main-font);
        font-weight: 600;
        font-size: 16px;
        line-height:1.5;
        letter-spacing: 0.04em;
        color:var(--accent-color);
        background: #F4F4FD;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
        cursor: pointer;}
     .filter:hover {color: #FFFFFF;
               background-color:var(--accent-color) }
    .filter:focus {color:var(--primary-text-color);}
    

/* gallery-list-picture */
   .gallery-heading{
        font-size: 20px;
        line-height:1.2;
        letter-spacing: 0.02em;
        color:var(--primary-text-color);}
    .gallery-text{
        line-height:1.5;
        letter-spacing: 0.02em;
        color:var(--title-text-color)}